/* Dashboard specific styles */

.dashboardPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    max-width: 600px;
  }
  
  .dashboard-container h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .dashboard-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .dashboard-container button {
    padding: 12px 24px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .dashboard-container button:hover {
    background-color: #45a049;
  }
  

  .dashboardh1p1 {
    text-align: center;
    padding-top: 20px;
  }
